.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards a {
    color: var(--color4);
    flex: 1 1 300px;
    margin: 2.5%;

}

.cards figure {
    position: static;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0;
    border: 3px solid var(--color2);
}

.cards figure:hover {
    box-shadow: inset 0px 0px 140px var(--color4), 0 0 10px var(--color4);
    filter: blur(0);
}

.cards figure p {
    position: relative;
    text-align: left;
    padding: 20px 20px;
    top: 200px;
    background-color: var(--color2);
    width: 40%;
    filter: blur(0);
}

.cards figure p:hover {
    box-shadow: inset 0px 0px 0px white, 0px 0px 15px white;
}

.card {
    height: 300px;
    background-position: center;
    background-size: auto, cover;
}

.card1 {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.52) 15%, transparent 45%), url("../../public/card1.jpg");
    filter: blur(1px);
}

.card2 {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.52) 15%, transparent 45%), url("../../public/card2.jpg");
    filter: blur(1px);
}

.card3 {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.52) 15%, transparent 45%), url("../../public/card3.jpg");
    filter: blur(1px);
}

.card4 {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.52) 15%, transparent 45%), url("../../public/card4.jpg");
    filter: blur(1px);
}

.card5 {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.52) 15%, transparent 45%), url("../../public/card5.jpg");
    filter: blur(1px);
}

#card1 {
    flex: 1 1 100%;
}