a {
    text-decoration: none;
    color: var(--color1);
}

ul {
    list-style-type: none;
    font-size: 20px;
}

ul li {
    display: inline;
}

nav {
    padding: 20px;
    background-color: var(--color2);
    color: var(--color4);
    border-bottom: 15px solid var(--color1);
}

nav h1 {
    display: inline;
    font-size: 48px;
    padding: 5px 10px 5px 10px;
    background-color: lightgrey;
}

nav ul{
    margin-right: 20px;
    padding-top: 15px;
    float: right;
}

nav ul li {
    margin: 15px;
    text-decoration: underline;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 5px 1px rgba(0, 0, 0, 0.19);
}

.backgimg {
    height: 400px; 
    width: 100%;
    background-image:url(../../public/background.jpg);
    background-size: cover;
    background-position: center;
}

