.image {
    height: 300px;
}

.contain-center {
    display: flex;
}

.contain {
    margin: 8%;
}

.projectimg {
    margin: 3%;
}

.projectdesc {
    margin: 3%;
    font-size: 20px;
}

.technology {
    margin-left: 7%;
}

.technologyp {
    margin-top: 3%;
}

.technology li {
    display: block;
}

.backgimg {
    height: 400px; 
    width: 100%;
    background-image:url(../../public/background.jpg);
    background-size: cover;
    background-position: center;
}

.hide-details2 {
    display: none;
}

.show-details2 {
    position: relative;
    text-align: left;
    padding: 20px 5px 20px 20px;
    top: -200px;
    background-color: var(--color1);
    width: 40%;
    filter: blur(0);
    font-size: 20px;
    color: black;
}