:root {
    --color1: #CCAD8F;
    --color2: #7EA3CC;
    --color3: #255c99;
    --color4: #262626;
    --color5: #B3001B;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    color: var(--color4);
}